@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
  background-color: #fff;
}

/* Nav-bar */
.nav-bar {
  position: fixed;
  top: 0;
  padding: 15px 0;
  height: 70px;
  border-bottom: solid 5px #f39db6;
  background-color: #333 !important;
  width: 100%;
  z-index: 1;
}

a,
a:link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

ul {
  list-style-type: none;
}

ul a {
  color: #fff;
}
ul a:hover {
  color: #f39db6;
}

ul li {
  display: inline;
  font-size: 20px;
  margin: auto 27px;
}

/* Name and Profile picture */
.content {
  margin-top: 120px;
}

.social-logo {
  margin-right: 15px;
}

.name {
  font-size: 2rem;
  margin-top: 10%;
}

.side {
  margin-left: 10%;
  margin-bottom: 50px;
  max-height: 20rem;
  max-width: 20rem;
}

img {
  display: block;
  mix-blend-mode: multiply;
}
.picture-image {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* Contact area */
.contact-box {
  color: #fff;
  line-height: 14px;
  margin-top: 250px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: solid 5px #f39db6;
  background-color: #333 !important;
}

#myGitHub {
  color: #fff;
}

#copyright {
  font-size: 12px;
}
